.tooltip
  position relative
  &:before
    position absolute
    top auto
    right 50%
    bottom -5px
    margin-right -5px
    z-index 1000001
    width 0
    height 0
    color rgba(0,0,0,0.8)
    pointer-events none
    content ""
    border 5px solid transparent
    border-bottom-color rgba(0, 0, 0, 0.8)
    opacity 0
  &:after
    position absolute
    top 100%
    right 50%
    margin-top 5px
    z-index 1000000
    padding 5px 8px
    color #fff
    text-align center
    text-decoration none
    text-shadow none
    text-transform none
    letter-spacing normal
    word-wrap break-word
    white-space pre
    pointer-events none
    content attr(aria-label)
    background rgba(0,0,0,0.8)
    border-radius 3px
    -webkit-font-smoothing subpixel-antialiased
    transform translateX(50%)
    font-size font-size-xs
    font-weight normal
    opacity 0
    line-height font-size-xs + 10px
  &:hover:before
  &:hover:after
  &:active:before
  &:active:after
    text-decoration none
    opacity 1

.hint
  margin 0 2px
